@import url(root/_variables.css);
@import url(colors.css);
@import url(flexbox.css);
@import url(typo.css);
@import url(media-q.css);

/*===============================
        Current Code
-------------------------------*/

*,
body {
    font-family: var(--sans-serif);
    margin: 0;
    padding: 0;
}

.dark-bg {
    background-color: var(--invert);
}

.page {
    margin: auto !important;
    width: 950px;
}

.page-flex {
    margin: auto !important;
    width: 50%;
}

header {
    margin-top: -30px;
    margin-bottom: -20px;
}

.five {
    color: var(--orange);
    font-size: 2em;
    position: var(--relt);
    top: 10px;
}

h1 {
    margin: calc(10px + var(--outer)) 0;
}

h1 > a,
.copy {
    text-decoration: none;
    color: var(--light);
}

.inline-block > li {
    display: var(--in-blk);
    margin-right: -5px;
}

.inline-block > li > a {
    display: var(--in-blk);
    padding: calc(var(--inner) - 5px) var(--inner);
}

.no-list {
    list-style-type: none;
}

.wide {
    --wide: -20px;
    margin: 0 var(--wide);
}

.narrow {
    width: 80%;
}

.media-wrap {
    flex-direction: var(--flex-col);
}

.center {
    margin: 0 auto;
}

.inner {
    padding: var(--inner) 0;
}

.no-txt-decoration a {
    text-decoration: none;
}

.navbar li:hover,
.navbar li:active,
.navbar > li > a:focus {
    background-color: #333;
}

.active > a,
.active > a:hover,
.active > a:active,
.active > a:focus {
    background-color: #333;
}

nav > ul > li {
    border-right: 1px solid var(--invert, #333);
}

.search-form input {
    border-radius: var(--radi-left);
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 300px;
}

button.btn {
    margin-top: -10px;
    border-radius: var(--radi-right);
    border: none;
    outline: none;
}

.btn-small {
    border: 0;
    outline: 0;
    padding: 5px 10px;
}

.input-append,
.input-prepend {
    display: inline-block;
    font-size: 0;
    margin-left: -1px;
    margin-bottom: 10px;
    white-space: nowrap;
    vertical-align: middle;
}

.login > li {
    border-left: 1px solid var(--invert, #333);
    border-right: 1px solid var(--invert, #333);
    margin-left: 55px;
}

.user > a {
    color: var(--light);
    display: inline-block;
    padding: 15px;
    text-decoration: var(--no);
}

.login > .user:hover,
.login > .user:active,
.login > .user > a:focus {
    background-color: #333;
}

.dropdown:focus {
    position: var(--relt);
}

.dropdown > a {
    background: var(--no);
    display: var(--yep);
}

.toggle {
    color: var(--light);
    border-color: var(--gray-light);
}

.submenu {
    display: var(--blk);
    position: var(--absl);
    top: 100%;
    left: 0;
    z-index: 1000;
    display: var(--no);
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.open > .toggle {}

main {
    margin: 20px 0 0;
    padding: 0;
}

section {
    background: var(--light);
}

h3 {
    margin-bottom: var(--gap);
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.row {
    flex-direction: var(--flex-row);
}

.col {
    flex-direction: var(--flex-col);
}

[class*="col-"] {
    flex-direction: var(--flex-col);
    padding: var(--inner);
}

.col-1 {
    flex: 1;
    width: calc((1/12) * 100%);
}

.col-3 {
    flex: 3;
    width: calc((3/12) * 100%);
}

.col-4 {
    flex: 4;
    width: calc((4/12) * 100%);
}

.col-8 {
    flex: 8;
    width: calc((8/12) * 100%);
}

.col-9 {
    flex: 9;
    width: calc((9/12) * 100%);
}

.col-12 {
    flex: 12;
    width: calc((12/12) * 100%);
}

.blog {
    width: calc((12/12) * 100%);
}

.blog > .img {
    width: 180px;
    height: 180px;
    background: var(--light-gray, #dddddd);
}

.content p {
    margin-bottom: calc(var(--gap) * 2);
}

.content a,
aside a {
    color: var(--orange);
    text-decoration: var(--no);
}

.content a:hover,
aside a:hover {
    color: var(--orange);
    text-decoration: underline;
}

aside {
    padding-top: var(--gap);
}

.aside-linx li {
    margin: var(--gap) 0;
}

h4 {
    margin: var(--outer) 0;
}

aside p {
    margin-top: var(--gap);
    line-height: 1.5em;
}

.bdr-bottom {
    border-bottom: 1px var(--style);
}

.bdr-red {
    border: 1px solid red;
}

.bdr-beige {
    border: 1px solid beige;
}

.bdr-yellow {
    border: 1px solid yellow;
}

.position-relt {
    position: var(--relt);
}

.top {
    top: .5px;
    right: 0;
    left: 0;
}

.right {
    top: 13px;
    right: -31px;
}

footer {
    padding: var(--inner);
    height: 70px;
}

footer .brand {
    color: var(--orange);
}

footer a {
    font-weight: 600;
    padding: 3px;
    text-decoration: var(--no);
}

.txt-dark {
    color: #000;
    text-shadow: -1px -1px 0px var(--light);
}

.txt-dark:hover {
    color: #000;
    text-shadow: 1px 1px 0px var(--light);
}

/*
.html {
    color: var(--html);
}
.strap {
    color: var(--strap);
}
*/

.header-bg {
    background: #333;
    padding: 0 var(--inner);
}

.nav-bg {
    background: #666666;
}

.link-color a {
    color: var(--light);
}

.sidebar-bg {
    background: var(--sidebar, #e5e5e5);
}
